<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<style>
        .msg{
            color: red;
        }
		.mg{
			display: inline-block;
			text-transform: uppercase;
			background: #444444;
			color: #FFF;
			padding: 15px;
			border: none;
			font-size: 1.4em;
			transition: 0.5s all;
			-webkit-transition: 0.5s all;
			-moz-transition: 0.5s all;
			-o-transition: 0.5s all;
			outline: none;
			cursor: pointer;
			font-weight: 600;
			float: right;
			width: 21% !important;
			-webkit-appearance: none;
		}
		.pass{
			border: 1px solid #ff7b3d;
			margin-top: 5px;
			padding: 10px;
			display: block;
			width: 100% !important;
			background: rgba(255, 255, 255, 1);
			outline: none;
			color: #444444;
			font-size: 1.3em;
			border: 1px solid rgb(224, 224, 224);
			-webkit-appearance: none;
			font-weight: 500;
		}



	</style>
<meta charset="UTF-8">
<title>Contact</title>
<link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link rel="stylesheet" href="/css/font-awesome.css">
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.useso.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300,300italic,100italic,100' rel='stylesheet' type='text/css'>
		<script src="/js/jquery.easydropdown.js" type="text/javascript"></script>
</head>
<body>
	<!-- header-starts -->
	<div class="page-header">
		<div class="container">
			<div class="page-header-info">
				<div class="page-header-info-head text-center">
					<a href="index.html"><h1>i旅行</h1></a>
				</div>
				<!-- start h_menu4 -->
				<div class="h_menu4">
					<a class="toggleMenu" href="">Menu</a>
					<ul class="nav p-nav">
						<li class="active"><a href="/jump/jumpHome">首页</a></li>
						<li><a href="/jump/jumpHotel">酒店</a>
							<ul>
								<li><a href="booking.html">酒店列表</a></li>
								<li><a href="rooms.html">房间类型</a></li>
								<li><a href="reservation.html">房间预定</a></li>
								<li><a href="booking.html">大城市的酒店</a></li>
								<li><a href="booking.html">小城市的酒店</a></li>
							</ul>
						</li>
						<li><a href="/jump/jumpPayment">机票</a>
							<ul>
								<li><a href="/jump/jumpPayment">付款</a></li>
								<li><a href="/jump/jumpSearch">搜索</a></li>
								<li><a href="/jump/jumpSearch">列表</a></li>
							</ul>
						</li>
						<li><a href="/jump/jumpDestination" class="root">旅游</a>
							<ul>
								<li><a href="/jump/jumpDestination">菲力宾</a></li>
								<li><a href="/jump/jumpDestination">巴西</a></li>
								<li><a href="/jump/jumpDestination">纽约</a></li>
							</ul>
						</li>
						<li><a href="/jump/jumpContact">联系</a></li>
					</ul>
					<script type="text/javascript" src="/js/nav.js"></script>
				</div>
				<!-- end h_menu4 -->
			</div>
		</div>
	</div>
	<!-- header-ends -->
	<!-- content-section-starts -->
	<div class="main_bg">
<div class="container">
	<div class="main">
		<div class="contact">				
      					
				<div class="contact_right" style="width: 600px;margin-left: 264px">
				  <div class="contact-form">
				  	<h3 style="text-align:center;">激活帐号</h3>
					  <div style="text-align: center;color: green" th:text="${msg}"></div>
					    <form id="at_form" style="margin-top: 16px" method="post" action="/user/doActivateAccount.html">
                            <!--激活帐号-->
							<div>
								<div id="emailOrPhone" style="margin-bottom: 16px">
                                    激活帐号<span><input id="userCode" placeholder="邮箱/手机" name="userCode" type="text" class="userCode"></span>
                                    <p id="userCode_msg" class="msg"></p>
								</div>
								<div style="margin-bottom: 16px">
									激活码<span><input id="activationCode" placeholder="激活码/验证码" name="activationCode" type="text"></span>
                                    <p id="activationCode_msg" class="msg"></p>
								</div>
								<div style="text-align: center;color: red" th:text="${atMsg}"></div>
								<div id="msg" style="text-align: center;color: red"></div>
								<div style="text-align: center">
									<span><input class="mg" type="button" value="取消" onclick="location.href='/jump/jumpRegister'" style="float: left;margin-left: 127px;margin-top: 10px;"><input id="at_button" class="mg" type="button" value="激活帐号" style="float: left;margin-left: 127px;margin-top: 10px;"></span>
								</div>
								<div style="clear:both"></div><!--清除浮动-->
							</div>
					    </form>
				    </div>
  				</div>		
  				<div class="clearfix"></div>		
		  </div>
	</div>

</div>
</div>			
	<!-- content-section-ends -->
	<!-- footer-section-starts -->
	<div class="footer">
		<div class="copy-rights text-center">
			<p>版权所有©2019.华立四大天王 天王保留所有版权.</p>
		</div>			
	</div>
	<!-- footer-section-ends -->

<script type="text/javascript">
	$(function () {
        //异步验证帐号是否存在，且判断有没有激活
        $("#userCode").bind("blur",function () {
            $.ajax({
                type:"get",
                url:"/user/findActivation.json",
                data:{userCode:$("#userCode").val()},
                dataType:"json",
                success:function (data) {
                    if (data.userCode == "empty"){
                        $("#userCode_msg").html("邮箱/手机不能为空！");
                    }else if (data.userCode == "activated") {
                        $("#userCode_msg").html("该邮箱/手机已激活，不用再次激活！");
                    }else if (data.userCode=="noExist"){
                        $("#userCode_msg").html("该邮箱/手机未注册，请先注册！");
					} else if (data.userCode == "notActive"){
                        $("#userCode_msg").html("");
                    }
                },
                error:function (data) {
                    alert("请求错误！")
                }
            })
        })

        //非空判断（点击注册按钮）
        $("#at_button").click(function () {
            $("#userCode_msg").html("");
            $("#activationCode_msg").html("");
            $("#msg").html("");
            if ($("#userCode_msg").html()=="邮箱/手机不能为空！" ||$("#userCode_msg").html()=="该邮箱/手机已激活，不用再次激活！") {
                return;
            }
            if ($("#activationCode").val().trim() == '') {
                $("#activationCode_msg").html("激活码不能为空！");
                return;
			}
            //激活码正确，且帐号未激活时，提交表单
            $("#at_form").submit();
        })



    })
</script>

</body>
</html>
