<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<style>
        .msg{
            color: red;
        }
		.mg{
			display: inline-block;
			text-transform: uppercase;
			background: #444444;
			color: #FFF;
			padding: 15px;
			border: none;
			font-size: 1.4em;
			transition: 0.5s all;
			-webkit-transition: 0.5s all;
			-moz-transition: 0.5s all;
			-o-transition: 0.5s all;
			outline: none;
			cursor: pointer;
			font-weight: 600;
			float: right;
			width: 21% !important;
			-webkit-appearance: none;
		}
		.pass{
			border: 1px solid #ff7b3d;
			margin-top: 5px;
			padding: 10px;
			display: block;
			width: 100% !important;
			background: rgba(255, 255, 255, 1);
			outline: none;
			color: #444444;
			font-size: 1.3em;
			border: 1px solid rgb(224, 224, 224);
			-webkit-appearance: none;
			font-weight: 500;
		}

		#background{
			background-image: url("/images/backgrounds/bg_register.jpg");
			background-repeat:round;
		}


	</style>
<meta charset="UTF-8">
<title>Contact</title>
<link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link rel="stylesheet" href="/css/font-awesome.css">
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.useso.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300,300italic,100italic,100' rel='stylesheet' type='text/css'>
		<script src="/js/jquery.easydropdown.js" type="text/javascript"></script>
</head>
<body>
	<!-- header-starts -->
	<div class="page-header">
		<div class="container">
			<div class="page-header-info">
				<div class="page-header-info-head text-center">
					<a href="index.html"><h1>i旅行</h1></a>
				</div>
				<!-- start h_menu4 -->
                <div class="h_menu4">
                    <a class="toggleMenu" href="">Menu</a>
                    <ul class="nav p-nav">
                        <li class="active"><a href="/jump/jumpHome">首页</a></li>
                        <li><a href="/hotel/getHotelList">酒店</a>
                            <ul>
                                <li><a href="/hotel/getHotelList">酒店列表</a></li>
                                <li><a href="/jump/jumpRooms">房间类型</a></li>
                                <li><a href="addOrder.html">房间预定</a></li>
                                <li><a href="booking.html">大城市的酒店</a></li>
                                <li><a href="booking.html">小城市的酒店</a></li>
                            </ul>
                        </li>
                        <li><a href="/jump/jumpPayment">机票</a>
                            <ul>
                                <li><a href="/jump/jumpPayment">付款</a></li>
                                <li><a href="/jump/jumpSearch">搜索</a></li>
                                <li><a href="/jump/jumpSearch">列表</a></li>
                            </ul>
                        </li>
                        <li><a href="/jump/jumpDestination" class="root">旅游</a>
                            <ul>
                                <li><a href="/jump/jumpDestination">菲力宾</a></li>
                                <li><a href="/jump/jumpDestination">巴西</a></li>
                                <li><a href="/jump/jumpDestination">纽约</a></li>
                            </ul>
                        </li>
                        <li><a href="/jump/jumpContact">联系</a></li>
                    </ul>
                    <script type="text/javascript" src="/js/nav.js"></script>
                </div>
				<!-- end h_menu4 -->
			</div>
		</div>
	</div>
	<!-- header-ends -->
	<!-- content-section-starts -->
	<div class="main_bg" id="background">
<div class="container">
	<div class="main">
		<div class="contact">				
      					
				<div class="contact_right" style="width: 600px;margin-left: 264px">
				  <div class="contact-form">
				  	<h3 style="text-align:center;">欢迎注册</h3>
                      <label for="emailRadio"><input id="emailRadio" name="reg_choose" style="margin-left: -68px" type="radio" checked>邮箱注册</label>  <label for="phoneRadio"><input id="phoneRadio" name="reg_choose" style="margin-left: 60px" type="radio">手机注册</label>
					  <!--邮箱注册 start ***********************************************************************-->
					  <div id="emailRegister" style="display: block">
					    <form id="email_form" style="margin-top: 16px" method="post" action="/user/doRegister.html">
								<div id="email" style="margin-bottom: 16px">
                                    *注册邮箱<span><input id="userCode" placeholder="请输入邮箱" name="userCode" type="text" ></span>
                                    <p id="userCode_msg" class="msg"></p>
								</div>
								<div style="margin-bottom: 16px">
									*昵称<span><input id="nickName" placeholder="请输入昵称" name="nickName" type="text"></span>
                                    <p id="nickName_msg" class="msg"></p>
								</div>
								<div style="margin-bottom: 16px">
									*登录密码<span><input id="password" placeholder="请输入密码" name="password" type="password" class="pass"></span>
                                    <p id="password_msg" class="msg"></p>
								</div>
								<div style="margin-bottom: 16px">
									*确认密码<span><input id="rePassword" placeholder="请输入确认密码" name="rePassword" type="password" class="pass"></span>
                                    <p id="rePassword_msg" class="msg"></p>
								</div>
								<div id="msg" style="text-align: center;color: red"></div>
					    </form>
				  	</div>
					  <!--邮箱注册end ********************************************************************** -->

					  <!--手机注册 start ***********************************************************************-->
					  <div id="phoneRegister" style="display: none">
						  <form id="phone_form" style="margin-top: 16px" method="post" action="/user/doRegisterByPhone.html">
							  <div id="phone" style="margin-bottom: 16px">
								  *注册手机<span><input id="phone_userCode" placeholder="请输入手机" name="phone_userCode" type="text" ></span>
								  <p id="phone_userCode_msg" class="msg"></p>
							  </div>
							  <div style="margin-bottom: 16px">
								  *昵称<span><input id="phone_nickName" placeholder="请输入昵称" name="phone_nickName" type="text"></span>
								  <p id="phone_nickName_msg" class="msg"></p>
							  </div>
							  <div style="margin-bottom: 16px">
								  *登录密码<span><input id="phone_password" placeholder="请输入密码" name="phone_password" type="password" class="pass"></span>
								  <p id="phone_password_msg" class="msg"></p>
							  </div>
							  <div style="margin-bottom: 16px">
								  *确认密码<span><input id="phone_rePassword" placeholder="请输入确认密码" name="phone_rePassword" type="password" class="pass"></span>
								  <p id="phone_rePassword_msg" class="msg"></p>
							  </div>
							  <div id="phone_msg" style="text-align: center;color: red"></div>
							  <!--<div style="text-align: center">
								  <label for="phone_agreement"><input id="phone_agreement" type="checkbox">我已经阅读并同意遵守<a href="https://www.baidu.com/">《i旅行用户服务协议》</a></label>
							  </div>
							  <div style="text-align: center">
								  <span><input id="phone_reg_button" class="mg" type="button" value="同意协议注册" style="float: left;margin-left: 127px;margin-top: 10px;"><input class="mg" type="button" value="激活已有帐号" onclick="location.href='/jump/jumpActivation'" style="float: left;margin-left: 127px;margin-top: 10px;"></span>
							  </div>
							  <div style="clear:both"></div>&lt;!&ndash;清除浮动&ndash;&gt;-->
						  </form>
					  </div>
					  <!--手机注册end ********************************************************************** -->
                      <div style="text-align: center">
                          <label for="agreement"><input id="agreement" type="checkbox" name="agreement">我已经阅读并同意遵守<a href="https://www.baidu.com/">《i旅行用户服务协议》</a></label>
                      </div>
                      <div style="text-align: center">
                          <span><input id="reg_button" class="mg" type="button" value="同意协议注册" style="float: left;margin-left: 127px;margin-top: 10px;"><input class="mg" type="button" value="激活已有帐号" onclick="location.href='/jump/jumpActivation'" style="float: left;margin-left: 127px;margin-top: 10px;"></span>
                      </div>
                      <div style="clear:both"></div><!--清除浮动-->
				    </div>
  				</div>		
  				<div class="clearfix"></div>		
		  </div>
	</div>


</div>
</div>			
	<!-- content-section-ends -->
	<!-- footer-section-starts -->
	<div class="footer">
		<div class="copy-rights text-center">
			<p>版权所有©2019.华立四大天王 天王保留所有版权.</p>
		</div>			
	</div>
	<!-- footer-section-ends -->

<script type="text/javascript">
	$(function () {
        var phoneNumReg=null;  //手机的正则表达式
        var filter=null;    //邮箱的正则表达式

//邮箱注册 start **************************************************************
        $("#emailRadio").click(function () {
            // if ($("#emailRadio").attr("checked")) {
            alert("邮箱注册");
            // $("#phoneRadio").removeAttr("checked");  //移出单选按钮的选中
            $("#emailRegister").css({"display":"block"});
            $("#phoneRegister").css({"display":"none"});

            //非空判断（点击注册按钮）
            $("#reg_button").click(function () {
                $("#userCode_msg").html("");
                $("#nickName_msg").html("");
                $("#password_msg").html("");
                $("#rePassword_msg").html("");
                $("#msg").html("");

                if ($("#userCode_msg").html()=="邮箱不能为空！" ||$("#userCode_msg").html()=="该邮箱已被注册，不可用！") {
                    return;
                }
                if ($("#nickName").val().trim() == '') {
                    $("#nickName_msg").html("昵称不能为空！");
                    return;
                }
                if ($("#password").val().trim() == '') {
                    $("#password_msg").html("密码不能为空！");
                    return;
                }
                if ($("#rePassword").val().trim() == '') {
                    $("#rePassword_msg").html("确认密码不能为空！");
                    return;
                }

                //判断两次密码是否相同
                if ($("#password").val() != $("#rePassword").val()) {
                    $("#rePassword_msg").html("两次输入的密码不一致！");
                    return;
                }
                //判断是否同意协议
                if (!$("#agreement").attr("checked")) {
                    $("#msg").css({"color": "red", "text-align": "center"});
                    $("#msg").html("遵守《i旅行用户服务协议》才能注册！");
                    return;
                }
                // alert($("#register").serialize())
                //同意，并且提交表单
                $("#email_form").submit();
            })

            //异步验证邮箱是否已被注册
            $("#userCode").bind("blur",function () {
                var usercode = null;
                    //邮箱格式验证
                    usercode=$("#userCode").val();
                    if (usercode=='') {
                        $("#userCode_msg").html("邮箱不能为空！");
                        return;
                    }
                    filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                    if (!filter.test(usercode)){
                        $("#userCode_msg").html("邮箱格式不正确！");
                        return;
                    }
                $.ajax({
                    type:"get",
                    url:"/user/findUserByUserCode.json",
                    data:{userCode:usercode},
                    dataType:"json",
                    success:function (data) {
                        //邮箱注册
                            alert("邮箱验证");
                            if (data.userCode == "empty"){
                                $("#userCode_msg").html("邮箱不能为空！");
                            }else if (data.userCode == "exist") {
                                $("#userCode_msg").html("该邮箱已被注册，不可用！");
                            }else if (data.userCode == "noExist"){
                                $("#userCode_msg").html("");
                            }
                    },
                    error:function (data) {
                        alert("请求错误！")
                    }
                })
            })

        })
//邮箱验证end ********************************************************




//手机注册start-------------------------------------------------------------------------
        $("#phoneRadio").click(function () {
        // if ($("#phoneRadio").attr("checked")) {
            alert("手机注册");
            // $("#emailRadio").removeAttr("checked");  //移出单选按钮的选中
            $("#emailRegister").css({"display": "none"});
            $("#phoneRegister").css({"display": "block"});

            //非空判断（点击注册按钮）
            $("#reg_button").click(function () {
                $("#nickName_msg").html("");
                $("#phone_password_msg").html("");
                $("#phone_rePassword_msg").html("");
                $("#phone_msg").html("");

                if ($("#phone_userCode_msg").html()=="手机不能为空！" ||$("#phone_userCode_msg").html()=="手机已被注册，不可用！") {
                    return;
                }
                if ($("#phone_nickName").val().trim() == '') {
                    $("#nickName_msg").html("昵称不能为空！");
                    return;
                }
                if ($("#phone_password").val().trim() == '') {
                    $("#phone_password_msg").html("密码不能为空！");
                    return;
                }
                if ($("#phone_rePassword").val().trim() == '') {
                    $("#phone_rePassword_msg").html("确认密码不能为空！");
                    return;
                }

                //判断两次密码是否相同
                if ($("#phone_password").val() != $("#phone_rePassword").val()) {
                    $("#phone_rePassword_msg").html("两次输入的密码不一致！");
                    return;
                }
                //判断是否同意协议
                if (!$("#agreement").attr("checked")) {
                    $("#phone_msg").css({"color": "red", "text-align": "center"});
                    $("#phone_msg").html("遵守《i旅行用户服务协议》才能注册！");
                    return;
                }
                // alert($("#register").serialize())
                //同意，并且提交表单
                $("#phone_form").submit();
            })

            //异步验证手机是否已被注册
            $("#phone_userCode").bind("blur",function () {
                alert("进入手机验证");
                //手机格式验证
                alert($("#phone_userCode").val());
                if ($("#phone_userCode").val() == '') {
                    $("#phone_userCode_msg").html("手机不能为空！");
                    return;
                }
                <!--表示以1开头，第二位可能是3/4/5/7/8等的任意一个，在加上后面的\d表示数字[0-9]的9位，总共加起来11位结束。-->
                phoneNumReg = /^1[3|4|5|7|8]\d{9}$/
                if (!phoneNumReg.test($("#phone_userCode").val())) {
                    $("#phone_userCode_msg").html("手机格式不正确，请重填，手机号码11位数字，目前支持前两位13、14、15、16、17、18手机号码！");
                    return;
                }
                $.ajax({
                    type:"get",
                    url:"/user/findUserByUserCode.json",
                    data:{phone_userCode:$("#phone_userCode").val()},
                    dataType:"json",
                    success:function (data) {
                        alert("手机异步验证");
                        alert(data.phone_userCode);
                        if (data.phone_userCode == "empty"){
                            $("#phone_userCode_msg").html("手机不能为空！");
                        }else if (data.phone_userCode == "exist") {
                            $("#phone_userCode_msg").html("手机已被注册，不可用！");
                        }else if (data.phone_userCode == "noExist"){
                            $("#phone_userCode_msg").html("");
                        }
                    },
                    error:function (data) {
                        alert("请求错误！")
                    }
                })
            })


        })
//手机注册end-------------------------------------------------------------------------


    })
</script>

</body>
</html>
