<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<style>
        .msg{
            color: red;
        }
		.mg{
			display: inline-block;
			text-transform: uppercase;
			background: #444444;
			color: #FFF;
			padding: 15px;
			border: none;
			font-size: 1.4em;
			transition: 0.5s all;
			-webkit-transition: 0.5s all;
			-moz-transition: 0.5s all;
			-o-transition: 0.5s all;
			outline: none;
			cursor: pointer;
			font-weight: 600;
			float: right;
			width: 21% !important;
			-webkit-appearance: none;
		}
		.pass{
			border: 1px solid #ff7b3d;
			margin-top: 5px;
			padding: 10px;
			display: block;
			width: 100% !important;
			background: rgba(255, 255, 255, 1);
			outline: none;
			color: #444444;
			font-size: 1.3em;
			border: 1px solid rgb(224, 224, 224);
			-webkit-appearance: none;
			font-weight: 500;
		}

	</style>
<meta charset="UTF-8">
<title>Contact</title>
<link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link rel="stylesheet" href="/css/font-awesome.css">
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.useso.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300,300italic,100italic,100' rel='stylesheet' type='text/css'>
		<script src="/js/jquery.easydropdown.js" type="text/javascript"></script>
</head>
<body>
	<!-- header-starts -->
	<div class="page-header">
		<div class="container">
			<div class="page-header-info">
				<div class="page-header-info-head text-center">
					<a href="index.html"><h1>i旅行</h1></a>
				</div>
				<!-- start h_menu4 -->
				<div class="h_menu4">
					<a class="toggleMenu" href="">Menu</a>
					<ul class="nav p-nav">
						<li class="active"><a href="/jump/jumpHome">首页</a></li>
						<li><a href="/jump/jumpHotel">酒店</a>
							<ul>
								<li><a href="booking.html">预定</a></li>
								<li><a href="rooms.html">客房</a></li>
								<li><a href="reservation.html">保留</a></li>
								<li><a href="booking.html">大城市的酒店</a></li>
								<li><a href="booking.html">小城市的酒店</a></li>
							</ul>
						</li>
						<li><a href="/jump/jumpPayment">机票</a>
							<ul>
								<li><a href="/jump/jumpPayment">付款</a></li>
								<li><a href="/jump/jumpSearch">搜索</a></li>
								<li><a href="/jump/jumpSearch">列表</a></li>
							</ul>
						</li>
						<li><a href="/jump/jumpDestination" class="root">旅游</a>
							<ul>
								<li><a href="/jump/jumpDestination">菲力宾</a></li>
								<li><a href="/jump/jumpDestination">巴西</a></li>
								<li><a href="/jump/jumpDestination">纽约</a></li>
							</ul>
						</li>
						<li><a href="/jump/jumpContact">联系</a></li>
					</ul>
					<script type="text/javascript" src="/js/nav.js"></script>
				</div>
				<!-- end h_menu4 -->
			</div>
		</div>
	</div>
	<!-- header-ends -->
	<!-- content-section-starts -->
	<div class="main_bg">
<div class="container">
	<div class="main">
		<div class="contact">				
      					
				<div class="contact_right" style="width: 600px;margin-left: 264px">
				  <div class="contact-form">
				  	<h3 style="text-align:center;">欢迎注册</h3>
					    <form id="register" style="margin-top: 16px" method="post" action="/user/doRegister.html">
							<label for="emailRadio"><input id="emailRadio" name="reg_choose" style="margin-left: -68px" type="radio" checked>邮箱注册</label>  <label for="phoneRadio"><input id="phoneRadio" name="reg_choose" style="margin-left: 60px" type="radio">手机注册</label>

                            <!--注册-->
							<div>
								<div id="emailOrPhone" style="margin-bottom: 16px">
                                    *注册邮箱<span><input id="userCode" placeholder="请输入邮箱" name="userCode" type="text" class="userCode"></span>
                                    <p id="userCode_msg" class="msg"></p>
								</div>
								<div style="margin-bottom: 16px">
									*昵称<span><input id="nickName" placeholder="请输入昵称" name="nickName" type="text"></span>
                                    <p id="nickName_msg" class="msg"></p>
								</div>
								<div style="margin-bottom: 16px">
									*登录密码<span><input id="password" placeholder="请输入密码" name="password" type="password" class="pass"></span>
                                    <p id="password_msg" class="msg"></p>
								</div>
								<div style="margin-bottom: 16px">
									*确认密码<span><input id="rePassword" placeholder="请输入确认密码" name="rePassword" type="password" class="pass"></span>
                                    <p id="rePassword_msg" class="msg"></p>
								</div>
								<div id="msg" style="text-align: center;color: red"></div>
								<div style="text-align: center">
									<label for="agreement"><input id="agreement" type="checkbox" name="agreement">我已经阅读并同意遵守<a href="https://www.baidu.com/">《i旅行用户服务协议》</a></label>
								</div>
								<div style="text-align: center">
									<span><input id="reg_button" class="mg" type="button" value="同意协议注册" style="float: left;margin-left: 127px;margin-top: 10px;"><input class="mg" type="button" value="激活已有帐号" onclick="location.href='/jump/jumpLogin'" style="float: left;margin-left: 127px;margin-top: 10px;"></span>
								</div>
								<div style="clear:both"></div><!--清除浮动-->
							</div>
					    </form>
				    </div>
  				</div>		
  				<div class="clearfix"></div>		
		  </div>
	</div>
</div>
</div>			
	<!-- content-section-ends -->
	<!-- footer-section-starts -->
	<div class="footer">
		<div class="copy-rights text-center">
			<p>版权所有©2019.华立四大天王 天王保留所有版权.</p>
		</div>			
	</div>
	<!-- footer-section-ends -->

<script type="text/javascript">
	$(function () {

	    //邮箱注册
        $("#emailRadio").click(function () {
            $("#emailOrPhone").html("*注册邮箱<span><input id=\"userCode\" placeholder=\"请输入邮箱\" name=\"userCode\" type=\"text\" class=\"userCode\"></span>\n" +
                "<p id=\"userCode_msg\" class=\"msg\"></p>");


        })

        //手机注册
        $("#phoneRadio").click(function () {
            $("#emailOrPhone").html("*注册手机<span><input id=\"userCode\" placeholder=\"请输入手机号\" name=\"userCode\" type=\"text\" class=\"userCode\"></span>\n"+
                "<p id=\"userCode_msg\" class=\"msg");
        })



	    //选择手机注册
        $("#phoneRadio").click(function () {

            //判断是否同意协议（手机注册）
            $("#reg1_button").click(function () {
                //不同意不给登录，并且给出提示
                if(!$("#agreement1").attr("checked")){
                    $("#msg1").css({"color":"red","text-align":"center"});
                    $("#msg1").html("遵守《i旅行用户服务协议》才能注册！");
                    return;
                }
                //同意，并且提交表单
                $("#register").submit();
            })

        })
		//------------------------------------------------------------------------
        //非空判断
        $("#reg_button").click(function () {
            $("#nickName_msg").html("");
            $("#password_msg").html("");
            $("#rePassword_msg").html("");
            $("#msg").html("");

            if ($("#userCode_msg").html()=="邮箱/手机不能为空！" ||$("#userCode_msg").html()=="该邮箱/手机已被注册，不可用！") {
                return;
            }
            if ($("#nickName").val().trim() == '') {
                $("#nickName_msg").html("昵称不能为空！");
                return;
            }
            if ($("#password").val().trim() == '') {
                $("#password_msg").html("密码不能为空！");
                return;
            }
            if ($("#rePassword").val().trim() == '') {
                $("#rePassword_msg").html("确认密码不能为空！");
                return;
            }



            //判断两次密码是否相同(邮箱)
            if ($("#password").val() != $("#rePassword").val()) {
                $("#rePassword_msg").html("两次输入的密码不一致！");
                return;
            }
            //判断是否同意协议(邮箱注册)
            if (!$("#agreement").attr("checked")) {
                $("#msg").css({"color": "red", "text-align": "center"});
                $("#msg").html("遵守《i旅行用户服务协议》才能注册！");
                return;
            }
            // alert($("#register").serialize())
            //同意，并且提交表单
            $("#register").submit();
        })


        //异步验证手机或邮箱是否已被注册
        $(".userCode").bind("blur",function () {

            var usercode = null;
            if($("#emailRadio").attr("checked")){
                //邮箱格式验证
                usercode=$("#userCode").val();
                var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                if (!filter.test(usercode)){
                    $("#userCode_msg").html("邮箱格式不正确！");
                    return;
                }
            }else{
                //手机格式验证
                usercode=$("#userCode1").val();

            }

                $.ajax({
                type:"get",
                url:"/user/findUserByUserCode.json",
                data:{userCode:usercode},
                dataType:"json",
                success:function (data) {
                    // alert(data);
                    if (data.userCode == "empty"){
                        $("#userCode_msg").html("邮箱/手机不能为空！");
                    }else if (data.userCode == "exist") {
                        $("#userCode_msg").html("该邮箱/手机已被注册，不可用！");
                    }else if (data.userCode == "noExist"){
                        $("#userCode_msg").html("");
                    }
                },
                error:function (data) {
                    alert("请求错误！")
                }
            })
        })




    })
</script>

</body>
</html>
